<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<header class="px-8 py-5 bg-main" th:fragment="navbar">
    <div class="flex items-center">
        <div class="flex flex-1 justify-start mr-auto">
            <img
                    th:src="@{img/white-logo-horizontal.svg}"
                    alt="White - Dental Clinic"
            />
        </div>
        <div class="flex flex-1 justify-center">
            <img
                    th:src="@{img/white-logo-illustration.svg}"
                    alt="White - Dental Clinic"
            />
        </div>
        <div class="flex flex-1 justify-end ml-auto">
            <a
                    class="font-semibold text-sm text-white tracking-widest"
                    th:href="@{/home}"
            >
                LOGIN
            </a>
        </div>
    </div>
</header>
</html>
