<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<aside class="px-8 py-5 bg-main-light" th:fragment="sidebar">
    <div class="flex flex-col items-center">
        <div class="flex flex-1 justify-end ml-auto">
            <a
                    class="font-semibold text-sm text-white tracking-widest"
                    th:href="@{/home}"
            >
                HOLA
            </a>
        </div>
        <div class="flex flex-1 justify-end ml-auto">
            <a
                    class="font-semibold text-sm text-white tracking-widest"
                    th:href="@{/home}"
            >
                CHAU
            </a>
        </div>
    </div>
</aside>
</html>