<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>White | Dental Clinic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script type="module" th:src="@{js/tailwind-config.js}"></script>
    <script type="tailwind-config">
      window.tailwindConfig
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col min-h-[100vh] bg-fill">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="flex-1 pb-20">
      <div class="relative w-full h-[400px] mt-[120px] bg-white">
        <div class="relative w-11/12 mx-auto">
          <div class="absolute -top-20 grid grid-cols-3 gap-3 w-full">
            <div class="h-[300px]">
              <img
                th:src="@{img/home-1.jpg}"
                class="w-full max-h-full object-cover"
              />
            </div>
            <div class="h-[300px]">
              <img
                th:src="@{img/home-2.jpg}"
                class="w-full max-h-full object-cover"
              />
            </div>
            <div class="h-[300px]">
              <img
                th:src="@{img/home-3.jpg}"
                class="w-full max-h-full object-cover"
              />
            </div>
          </div>
        </div>
        <div class="absolute -bottom-6 w-full text-center">
          <p class="mb-10 text-4xl text-main font-semibold">Welcome !</p>
          <a
            class="px-10 py-4 font-semibold text-sm text-white tracking-widest bg-main rounded focus:outline-none"
            th:href="@{/home}"
          >
            LOGIN
          </a>
        </div>
      </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
